.markdown-output {
  h1 {
    @extend %cj-heading-xl;
  }

  h2 {
    @extend %cj-heading-l;
    @include cj-responsive-margin(9, "top");
    font-weight: 400;
  }

  h3 {
    @extend %cj-heading-m;
    @include cj-responsive-margin(8, "top");
    font-weight: 400;
  }

  h4 {
    @extend %cj-heading-s;
    @include cj-responsive-margin(6, "top");
    @include cj-responsive-margin(6, "bottom");
    font-weight: 400;
    @extend %underline;
  }

  // cases where a h4 (underlined) directly follows a h2
  h2 + h4 {
    @include cj-responsive-margin(2, "top");
  }

  // make text pop with a subtle text-shadow
  // h1, h2, h3, h4, h5 {
  //   text-shadow: 2px 4px 4px rgba(100, 99, 99, 0.2)
  // }

  h5 {
    @extend %cj-heading-xs;
  }

  p {
    @extend %cj-body-m;
  }

  pre {
    @extend %cj-code-block;
    // can't work out why using rems ends up with font-size at 13px
    // so hacking it for now
    font-size: 14px !important;

    @include mq($from: tablet) {
      font-size: 16px !important;
      // should really make this change in cj-frontend
      width: 100% + ($cj-full-width-increase * 2);
    }
  }

  a {
    @include cj-link-style($font-family: inherit);
  }

  ul {
    @extend %cj-list;
    @extend %cj-list--bullet;
  }

  ol {
    @extend %cj-list;
    @extend %cj-list--number;
  }

  p,
  li {
    code {
      @extend %cj-code;
      // should I make this change in cj-frontend?
      font-size: .75em;
    }
  }

  img {
    max-width: 100%;
  }

  blockquote {
    @extend .cj-pullquote;

    strong {
      font-weight: inherit;
    }
  }
}
