.app-search-container {
  display: none;
  @include cj-responsive-margin(6, "top");
  @include cj-responsive-padding(6, "top");
  border-top: 1px solid $cj-text-colour;

  .js-enabled & {
    display: block;
  }
}

.app-search-result__item {
  margin-top: 30px;
}

.app-search-result__item__heading {
  margin-bottom: cj-spacing(1);
  font-family: $cj-font-family-sans;

  a {
    @include cj-link-style($font-family: inherit);
  }
}

.app-search-result__item__meta {
  margin: 5px 0;
}

.app-search-result__item__snippet {
  margin-top: 15px;
  @include cj-typography-common;
  font-size: 16px;
}

.app-search-highlight {
  background: yellow;
}

.app-search-link {
  position: relative;
  @include cj-font($size: 20);
  z-index: 5;
}
