.note__tags {
  @include cj-font($size: 20);
}

.note__tag + .note__tag:before {
  content: "/ ";
}

.note__tags__label {
  display: inline-block;
  margin: 0 10px 0 0 ;
  @include cj-font($size: 20);
  font-family: $cj-font-family-sans;
  letter-spacing: 1px;

  &:after {
    content: ": ";
  }
}

