<!doctype html>
<html lang="{{ htmlLang | default('en') }}">
<head>
  <meta charset="utf-8">

  <title>{% block pageTitle %}Welcome to Colmjude.com{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Search Engine -->
  <meta name="description" content="An about page for Colm Britton, designer, technologist and web tinkerer.">
  <meta name="author" content="Colm Britton">

  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&family=Roboto:wght@300;400;700;900&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

  {% block canonicalTag -%}{%- endblock canonicalTag %}

  <!--<link rel="stylesheet" href="/static/stylesheets/colmjude-frontend.css">-->
  <link rel="stylesheet" href="/static/stylesheets/colmjude-notes.css">

  <meta name="theme-color" content="#d95a45">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@colmbritton" />
<meta name="twitter:title" content="Colmjude.com about" />
<meta name="twitter:description" content="The about page for Colm Britton's home on the web." />
<meta name="twitter:image" content="https://colmjude.com/test/static/images/twitter-home-card.png" />

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <script src="/static/javascripts/vendor/modernizr.js"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

</head>

<body class="cj-template__body {% block htmlClasses %}{% endblock htmlClasses %} ">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

{% set subsectionHtml %}
<div class="cj-top-bar__details__subsection">
  <span>&sol;</span>
  <a class="cj-top-bar__details__subsection__link" href="/notes">notes</a>
</div>
{% endset %}

{% block cjHeader %}
{% from 'colmjude-frontend/components/header/macro.jinja' import cjHeader %}
{{ cjHeader({
  "subsection": {
    "html": subsectionHtml
  }
}) }}
{% endblock %}

<div class="notes-container">
  {% from 'components/notes-header/macro.jinja' import notesHeader %}
  {% block notesHeader %}
  {{ notesHeader({
    "classes": "cj-content-container"
  }) }}
  {% endblock %}

  <main class="notes-content" id="content">
      {% block content %}{% endblock %}
  </main>
</div>

{% from 'colmjude-frontend/components/footer/macro.jinja' import cjFooter %}
{% block cjFooter %}
{{ cjFooter({
  'classes': 'cj-!-margin-top-8'
}) }}
{% endblock %}

{% block bodyEnd %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18510713-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-18510713-1');
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
{% endblock %}

</body>
</html>
