{% extends "base.html" %}

{% block canonicalTag -%}
<link rel="canonical" href="https://www.colmjude.com/notes/{{ 'tag/' + tag + '/' if tag }}" />
{%- endblock canonicalTag %}

{%- block notesHeader -%}
  {%- if notes_page_classes == "notes-index-page" -%}
    {{ notesHeader({
      "classes": "cj-content-container " + notes_page_classes
    }) }}
  {%- else -%}
    {{ notesHeader({
      "classes": "cj-content-container " + notes_page_classes,
      "linkBack": true,
      "tag": tag
    }) }}
  {%- endif -%}
{%- endblock -%}

{%- block content %}
<div class="cj-content-container">
    <ol class="cj-list notes-list">
    {%- for n in notes %}
        <li class="notes-list__item">
            <a class="notes-list__item__link" href="{{ n['url'] }}">
                <h4 class="cj-heading-m notes-list__item__title">{{ n['frontmatter']['title'] }}</h4>
            </a>
            <div class="notes-list__item__meta">
                <span><time datetime="{{ n['frontmatter']['updated_timestamp'] }}">{{ n['frontmatter']['updated_date'] }}</time></span>
                {% if n['frontmatter']['tags']|length %}
                 |
                <span class="notes-list__item__tags">{% for tag in n['frontmatter']['tags'] %}
                    <a class="cj-link" href="/notes/tag/{{tag}}">{{ tag }}</a>{% if not loop.last %} / {% endif %}
                {% endfor %}</span>
                {% endif %}
            </div>
        </li>
    {% endfor -%}
    </ol>

</div>

<div id="search" class="app-search-container cj-content-container">
  <form>
    <div class="cj-form-group">
      <label class="cj-label--xl cj-label--bold" for="search">Search notes</label>
      <input class="cj-input" id="searchbox" name="search" type="search" style="width: 60%">
    </div>
  </form>
  <div id="app-search-results"></div>
</div>

{% endblock -%}

{% block bodyEnd %}
{{ super() }}
<script src="/static/javascripts/notes-search.js"></script>
{% endblock -%}
