{% extends "base.html" %}

{%- block content %}
<div class="notes-container">
    <h2 class="cj-heading-xl">{{ list_title|default("All notes") }}</h2>

    <ol>
    {%- for n in notes %}
        <li class="notes-list__item">
            <a href="{{ n['url'] }}">
                <h4 class="cj-heading-s notes-list__item__title">{{ n['frontmatter']['title'] }}</h4>
            </a>
            <div class="notes-list__item__meta">
                <span>Updated {{ n['frontmatter']['mod_date'] }}</span> |
                <span class="notes-list__item__tags">{% for tag in n['frontmatter']['tags'] %}
                    <a href="/notes/tag/{{tag}}">{{ tag }}</a>{% if not loop.last %} / {% endif %}
                {% endfor %}</span>
            </div>
        </li>
    {% endfor -%}
    </ol>

</div>

{% endblock -%}
