{% extends "base.html" %}

{% block notesHeader %}
  {% if notes_page_classes == "notes-index-page" %}
    {{ notesHeader({
      "classes": "cj-content-container " + notes_page_classes
    }) }}
  {% else %}
    {{ notesHeader({
      "classes": "cj-content-container " + notes_page_classes,
      "linkBack": true,
      "tag": tag
    }) }}
  {% endif %}
    
{% endblock %}

{%- block content %}
<div class="cj-content-container">
    <ol class="cj-list notes-list">
    {%- for n in notes %}
        <li class="notes-list__item">
            <a class="notes-list__item__link" href="{{ n['url'] }}">
                <h4 class="cj-heading-m notes-list__item__title">{{ n['frontmatter']['title'] }}</h4>
            </a>
            <div class="notes-list__item__meta">
                <span><time datetime="{{ n['frontmatter']['updated_timestamp'] }}">{{ n['frontmatter']['updated_date'] }}</time></span>
                {% if n['frontmatter']['tags']|length %}
                 |
                <span class="notes-list__item__tags">{% for tag in n['frontmatter']['tags'] %}
                    <a class="cj-link" href="/notes/tag/{{tag}}">{{ tag }}</a>{% if not loop.last %} / {% endif %}
                {% endfor %}</span>
                {% endif %}
            </div>
        </li>
    {% endfor -%}
    </ol>

</div>

{% endblock -%}
