{% extends "base.html" %}

{% block pageTitle %}{{ frontmatter.title }} | Colm Britton's Notes | colmjude.com{% endblock %}

{% block canonicalTag -%}
<link rel="canonical" href="{{ canonical_url }}" />
{%- endblock canonicalTag %}

{% block notesHeader %}
    {% set heroClasses = frontmatter['heroclasses'] if frontmatter['heroclasses'] else "" %}
    {% if 'blm' in heroClasses %}
    <div class="hero-text {{ heroClasses }}">
        <h1 class="hero-text__title">Notes</h1>
        <span class="hero-text__caption">Black lives matter</span>
    </div>
    {% else %}
    {{ notesHeader({
      "classes": "cj-content-container note-page",
      "linkBack": true
    }) }}
    {% endif %}
{% endblock %}

{%- block content %}
<article class="cj-content-container">
    <div class="note__head">
      <span class="note__updated-date"><time datetime="{{ frontmatter['updated_timestamp'] }}">{{ frontmatter['updated_date'] }}</time>{{ ' - ' + frontmatter['status'] if frontmatter['status'] }}</span>
      <h2 class="cj-heading-l note__title">{{ frontmatter.title }}</h2>
    </div>
    <div class="markdown-output note__content">
        {{ markdown_output }}
    </div>
    <div class="note__tags">
        <h5 class="cj-heading-s cj-headding--ib note__tags__label">Tags</h5>
        {% for tag in frontmatter['tags'] %}
          <a class="cj-link" href="/notes/tag/{{tag|lower|replace(' ', '-')}}">{{ tag }}</a>{% if not loop.last %} / {% endif %}
        {% endfor %}
    </div>
</article>
{% endblock -%}
