{% extends "base.html" %}

{% block pageTitle %}{{ frontmatter.title }} | Colm Britton's Notes | colmjude.com{% endblock %}
{% set noteTitle = frontmatter.title %}
{% set noteDescription = frontmatter.description if frontmatter.description else 'A note about something or other.' %}

{% block canonicalTag -%}
<link rel="canonical" href="{{ canonical_url }}" />
{%- endblock canonicalTag %}

{% block notesHeader %}
    {% set heroClasses = frontmatter['heroclasses'] if frontmatter['heroclasses'] else "" %}
    {% if 'blm' in heroClasses %}
    <div class="hero-text {{ heroClasses }}">
        <h1 class="hero-text__title">Notes</h1>
        <span class="hero-text__caption">Black lives matter</span>
    </div>
    {% else %}
    {{ notesHeader({
      "classes": "cj-content-container note-page",
      "linkBack": true
    }) }}
    {% endif %}
{% endblock %}

{%- block content %}
<article class="cj-content-container">
    <div class="note__head">
      <span class="note__updated-date">
        <time itemprop="datePublished" datetime="{{ frontmatter['created_timestamp'] }}">{{ frontmatter['created_date'] }}</time>
        {%- if not frontmatter['created_date'] == frontmatter['updated_date'] %}
        (Updated <time itemprop="dateModified" datetime="{{ frontmatter['updated_timestamp'] }}">{{ frontmatter['updated_date'] }}</time>){{ ' - ' + frontmatter['status'] if frontmatter['status'] }}
        {% endif -%}
      </span>
      <h1 class="cj-heading-xl note__title" itemprop="headline">{{ frontmatter.title }}</h1> 
    </div>
    <div class="markdown-output note__content">
        {{ markdown_output }}
    </div>

    <section class="note__footer">
      <div class="note__tags">
        <h5 class="note__tags__label">Tag(s)</h5>
        {%- for tag in frontmatter['tags'] %}
        <span class="note__tag">
          <a class="cj-link" href="/notes/tag/{{tag|lower|replace(' ', '-')}}">{{ tag }}</a>
        </span>
        {% endfor -%}
      </div>
      <div class="note__meta">
        <p><a class="cj-link" href="{{ edit_url }}">Edit on GitHub</a></p>
      </div>
    </section>

</article>
{% endblock -%}
